/*box model and font for page*/

html {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

/*Header area*/

h1 {
  display: block;
  background-color: #000000;
  padding:15px;
  color: #FFFFFF;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

nav {
  display: block;
  margin: auto;
  text-align: center;
}

nav.container1 a {
  text-decoration: none;
  display: inline-block;
  background-color: #e3e3e3;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 5px;
  margin: 1px 0 4px;
  text-align: center;
}

/*Main section*/

h2 {
  background-color: #8bffd9;
  padding: 15px;
  font-weight: 500;
  margin-bottom: -1px;
}

span {
  font-weight: bold;
}

.container2 {
  display: block;
  width: 70%;
  margin: auto;
}

/*Photo section*/

.photo {
  display: inline-block;
}

img {
width: 435.5px;
height: 535px;
margin: 20px 1px 0;
}

.photo-options {
  display: block;
  background-color: #cbb600;
  padding: 10px;
}

.edit-photo {
  border-right: 1px black solid;
  padding: 0 5px;
  margin-right: 1px;
}

/*Footer*/

footer {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 95%;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 80%;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
