html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

h1 {
  display: block;
  background-color: #000000;
  padding:15px;
  color: #FFFFFF;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

nav {
  display: block;
  margin: auto;
  text-align: center;
}

nav a {
  text-decoration: none;
  display: inline-block;
  background-color: #e3e3e3;
  color: #FFFFFF;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 5px;
}

h2 {
  display: block;
  margin: auto;
  background-color: turquoise;
  width: 70%;
  padding: 12px;
  font-weight: lighter;
}
