html {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

h1 {
  display: block;
  background-color: #000000;
  padding:15px;
  color: #FFFFFF;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

nav {
  display: block;
  margin: auto;
  text-align: center;
}

nav.container1 a {
  text-decoration: none;
  display: inline-block;
  background-color: #e3e3e3;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 5px;
  margin: 1px 0 10px;
  text-align: center;
}

h2 {
  background-color: turquoise;
  padding: 12px;
  font-weight: normal;
}

span {
  font-weight: bold;
}

.container2 {
  display: block;
  width: 70%;
  margin: auto;
}
