/*box model and font for page*/

html {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

/*Header area*/

h1 {
  display: block;
  background-color: #000000;
  padding:15px;
  color: #FFFFFF;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

nav {
  display: block;
  margin: auto;
  text-align: center;
}

nav.container1 a {
  text-decoration: none;
  display: inline-block;
  background-color: #e3e3e3;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 5px;
  margin: 1px 0 6px;
  text-align: center;
}

/*Main section*/

h2 {
  background-color: #8bffd9;
  padding: 15px;
  font-weight: 500;
}

span {
  font-weight: bold;
}

.container2 {
  display: block;
  width: 70%;
  margin: auto;
}

/*Photo section*/

.photo {
  display: inline-block;
}

img {
width: 328px;
height: 425px;
}
