html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

h1 {
  display: block;
  background-color: #000000;
  padding:15px;
  color: #FFFFFF;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

nav a {
  text-decoration: none;
  display: inline-block;
  margin: auto;
  background-color: #c3c3c3;
  border: 5px solid #FFFFFF;
  font-style: bold;
  padding: 15px 5px;
}

h2 {
  display: block;
  margin: auto;
  background-color: turquoise;
  width: 70%;
  padding: 12px;
  font-weight: lighter;
}
